<% require 'yaml' %>
<% pubs = YAML::load(File.open('gdocs_pubs.yml', 'r')) ; %>
<% if pubs[0].has_key?(:head) %>
<% @h= pubs.shift     %>
<% @h= @h[:head]      %>
<% @t= "#{@h[:title]} #{@h[:author]}" %>
<head><title><%= @t %></title></head>
# <%= @t+"\n\n" %>
<% end %>
<% pubs.each do |p| %>
* <%= "_#{p[:year]}_\t-\t#{p[:name]}" %>
  <%= "_(#{p[:desc]})_\n" if ( p.has_key?(:desc) && !p[:desc].empty? )%>
  <%= "[View][#{p[:cite]}-view] [Download][#{p[:cite]}-file]" %>
<% end %>

<% pubs.each do |p| %>
  <%= "[#{p[:cite]}-view]: #{p[:view]}" %>
  <%= "[#{p[:cite]}-file]: #{p[:file]}" %>
<% end %>
