<%# This script generate an HTML file with a list of pubs %>
<%# from the YAML specification. Do not use this directly %>
<%# - use 'make index.html && make commit' (see comments) %>
<% require 'uri' %>
<% require 'yaml' %>
<% pubs = YAML::load(File.open('gdocs_pubs.yml', 'r')) ; %>
<% if pubs[0].has_key?(:head) %>
<% @h= pubs.shift     %>
<% @h= @h[:head]      %>
<% @t= "#{@h[:title]} #{@h[:author]}" %>
<head><title><%= @t %></title></head>
<% end %>

# <%= @t+"\n\n" %>
<% pubs.each do |p| %>
* <%= "_#{p[:year]}_\t-\t#{p[:name]}" %>
  <%= "_(#{p[:desc]})_\n" if ( p.has_key?(:desc) && !p[:desc].empty? )%>
  <%= "[View][#{p[:cite]}-view] [Download][#{p[:cite]}-file]" %>
<% end %>

<%# We only need to encode '_', the rest of the url is safe. %>
<%# That is because '_' is interpreted as 'emphesize', there %>
<%# is still a problem with the '&' and e use sed to fix it. %>

<% pubs.each do |p| %>
  <% v = URI.escape(p[:view], "_") %>
  <% f = URI.escape(p[:file], "_") %>
  <%= "[#{p[:cite]}-view]: #{v}" %>
  <%= "[#{p[:cite]}-file]: #{f}" %>
  <script>
  if ( location.hash == <%= "\"##{p[:cite]}-view\"" %> ) {
       location.href =  <%= "\'#{v}\'" %> ;
  } else if ( location.hash == <%= "\"##{p[:cite]}-file\"" %> ) {
            location.href =  <%= "\'#{f}\'" %> ;
  }
</script>
<% end %>
